In [1]:
import pyspark
from pyspark.sql import SparkSession, functions as F, types as T, Window as W
from functools import reduce

In [ ]:
# pip install pyspark

In [7]:
spark_session = SparkSession.builder \
        .appName("Learn_Cube_Rollup") \
        .getOrCreate()
sc = spark_session.sparkContext
sqlCtx = pyspark.SQLContext(sc)

In [8]:
dataframe_spark = spark_session.read.format("csv")\
    .option("header", "true")\
    .load("../input/sample-sc")

In [9]:
dataframe_spark.show(10)

+-----+-----------+---------------+----------------+-----------+-----------+
|   D1|         D2|             D3|            Date|         M1|         M2|
+-----+-----------+---------------+----------------+-----------+-----------+
|LATAM|Home Office|Central America|2015-01-01T00:00|129.9900055|         26|
|LATAM|Home Office|Central America|2015-01-01T00:00|         50|        8.5|
|LATAM|Home Office|Central America|2015-01-01T00:00| 399.980011|         20|
|LATAM|   Consumer|  South America|2015-01-01T00:00|239.9600067|31.19000053|
|LATAM|Home Office|Central America|2015-01-01T00:00|        100|         13|
|LATAM|  Corporate|  South America|2015-01-01T00:00|         50|          8|
|LATAM|  Corporate|  South America|2015-01-01T00:00| 299.980011|          0|
|LATAM|  Corporate|  South America|2015-01-01T00:00| 399.980011|         12|
|LATAM|  Corporate|  South America|2015-01-01T00:00| 399.980011|         16|
|LATAM|  Corporate|Central America|2015-01-01T00:00|74.97000122|18.73999977|
+-----+-----------+---------------+----------------+-----------+-----------+
only showing top 10 rows

In [10]:
# dimension_col = [D1, D2, D3]
measure_cols = ["M1", "M2"]

In [11]:
dataframe_spark_rollup = dataframe_spark.select(["D1","D2","D3", "Date", "M1", "M2"])\
    .rollup(["D2","D3","D1", "Date"])\
    .agg(*((F.sum(col)).alias('{}'.format(col)) for col in ["M1", "M2"]))\
    .sort(["D1","D2","D3", "Date", "M1", "M2"]).cache()

dataframe_spark_rollup = dataframe_spark_rollup.filter(
    ~reduce(lambda x, y: x & y, [dataframe_spark_rollup[c].isNull() for c in ["Date"]]))\
            .show()

+--------+---------------+------+----------------+------------------+------------------+
|      D2|             D3|    D1|            Date|                M1|                M2|
+--------+---------------+------+----------------+------------------+------------------+
|Consumer|Northern Europe|Europe|2015-05-31T00:00|     3629.37003334|     298.070001601|
|Consumer|Northern Europe|Europe|2015-06-01T00:00| 5551.330070579998|     492.690002441|
|Consumer|Northern Europe|Europe|2015-06-02T00:00|       999.9500275|             165.0|
|Consumer|Northern Europe|Europe|2015-06-03T00:00|     4017.52008836|378.07000016999996|
|Consumer|Northern Europe|Europe|2015-06-04T00:00|     1389.64001466|     146.719999785|
|Consumer|Northern Europe|Europe|2015-06-05T00:00|     2439.69005204|      241.48999977|
|Consumer|Northern Europe|Europe|2015-06-06T00:00|      759.92002112|      65.799999715|
|Consumer|Northern Europe|Europe|2015-06-07T00:00|     3149.78006746|310.38000107000005|
|Consumer|Northern Europe|Europe|2015-06-08T00:00|4729.4700813399995|     327.870002986|
|Consumer|Northern Europe|Europe|2015-06-09T00:00|2896.6800422399997|      296.79999685|
|Consumer|Northern Europe|Europe|2015-06-10T00:00|4569.5000992800005|     423.659996981|
|Consumer|Northern Europe|Europe|2015-06-11T00:00|     1859.76003268|     193.689999105|
|Consumer|Northern Europe|Europe|2015-06-12T00:00| 6209.160114319999| 673.7199991909999|
|Consumer|Northern Europe|Europe|2015-06-13T00:00|      4719.6201325|      360.93000102|
|Consumer|Northern Europe|Europe|2015-06-14T00:00|1899.7400282800002|     157.399999917|
|Consumer|Northern Europe|Europe|2015-06-15T00:00|      789.88002782|       91.89999962|
|Consumer|Northern Europe|Europe|2015-06-16T00:00| 5336.420141189999| 595.0800044559999|
|Consumer|Northern Europe|Europe|2015-06-17T00:00|     2024.83006296|     149.039999723|
|Consumer|Northern Europe|Europe|2015-06-18T00:00| 5735.150085599999|492.28000091399997|
|Consumer|Northern Europe|Europe|2015-06-19T00:00|3209.6500893200005|      204.19000053|
+--------+---------------+------+----------------+------------------+------------------+
only showing top 20 rows

In [12]:
dataframe_spark_cube = dataframe_spark.select(["D1","D2","D3", "Date", "M1", "M2"])\
    .cube(["D2","D3","D1", "Date"])\
    .agg(*((F.sum(col)).alias('{}'.format(col)) for col in ["M1", "M2"]))\
    .sort(["D1","D2","D3", "Date", "M1", "M2"]).cache()

dataframe_spark_cube = dataframe_spark_cube.filter(
    ~reduce(lambda x, y: x & y, [dataframe_spark_cube[c].isNull() for c in ["Date"]]))\
            .show()

+----+----+----+----------------+------------------+------------------+
|  D2|  D3|  D1|            Date|                M1|                M2|
+----+----+----+----------------+------------------+------------------+
|null|null|null|2015-01-01T00:00| 32806.09068968997|3426.4000041880004|
|null|null|null|2015-01-02T00:00|29818.210575399968|3016.3599987919997|
|null|null|null|2015-01-03T00:00|36348.710647989974|3489.4499867789987|
|null|null|null|2015-01-04T00:00|35738.970669140974|3869.5100001929995|
|null|null|null|2015-01-05T00:00|31067.910602679956|    3534.920024937|
|null|null|null|2015-01-06T00:00|33395.710577099955|3320.5900055659995|
|null|null|null|2015-01-07T00:00| 32923.22068821996|2989.8399987519997|
|null|null|null|2015-01-08T00:00| 37590.17087038999|    3718.580007559|
|null|null|null|2015-01-09T00:00|26004.930517179982|2596.4800077089994|
|null|null|null|2015-01-10T00:00| 37053.86075832997|3535.1099916819985|
|null|null|null|2015-01-11T00:00| 34164.16064508997|      3266.8700034|
|null|null|null|2015-01-12T00:00| 41095.91068519997|4456.3899986430015|
|null|null|null|2015-01-13T00:00| 35891.89062764999|    3523.160009511|
|null|null|null|2015-01-14T00:00|30612.270510489972|3548.2200043120006|
|null|null|null|2015-01-15T00:00| 32878.95064000996|    3194.820009104|
|null|null|null|2015-01-16T00:00| 32478.98063864995|3306.4400037430005|
|null|null|null|2015-01-17T00:00|30329.260637629977|    2819.480004619|
|null|null|null|2015-01-18T00:00| 34781.71068020997|3164.5799967420003|
|null|null|null|2015-01-19T00:00| 33488.03065334997|    3390.990005356|
|null|null|null|2015-01-20T00:00| 32802.99052065996|    3378.410003319|
+----+----+----+----------------+------------------+------------------+
only showing top 20 rows